@using System.Threading
@using League.Components
@using League.Helpers
@using League.Routing
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData.Title("Aktuelles");
}
<div>
    <h2 class="h2">@ViewData.Title()</h2>
    <hr />
</div>
<div class="mb-0 pb-1">
    <div class="d-flex flex-column mb-4">
        Aufgrund der Covid-19 Pandemie muss die Beachrunde 2020 leider ausfallen.
    </div>
</div>
@section styles
{}
@section scripts
{}