@import '../bootstrap/custom';
@import 'std-input';
@import '../fontawesome/fontawesome.scss';

$body-width: 60rem;

body {
    background-color: $gray-500; /* override $body-bg for just this element */
}

.form-select:focus {
    background-color: $input-focus-bg !important;
}

// Tables
.table, .table-light {
    $table-bg: transparent;
}

body {
    max-width: $body-width;
    margin: 0 auto;

    header.site, footer.site {
        margin-top: .3rem;
        background-color: $gray-200;
    }

    header.site {
        padding: .5rem 1rem;
        margin-top: 0.5rem;
        margin-bottom: .5rem;
    }

    header .header-organization {
        font-size: 1.4rem !important;
        margin: 0 !important;
    }

    header .header-logo {
        font-size: 1.2rem;

        span {
            padding: 4px 8px !important;
        }

        span.part1 {
            background-color: $info;
            color: white;
            font-weight: bold !important
        }

        span.part2 {
            background-color: $success;
            color: white;
            font-weight: bold !important;
            margin-right: 8px
        }

        img {
        }
    }
    /* Start: Checkbox color as warning */
    /* Used in: Match.EditFixture, Match.EnterResult, Team.MyTeam, Team.EditTeam, TeamApplication.EditVenue, Venue.EditVenue */
    .form-check.form-check-warning > input[type=checkbox]:checked {
        background-color: var(--bs-warning);
    }

    .form-check.form-check-warning > input[type=checkbox] {
        border: 2px solid var(--bs-warning);
        background-color: transparent;
    }
    /* End: Checkbox color as warning  */

    @include media-breakpoint-down(sm) {
        header .header-organization {
            font-size: 1.2rem !important;
            margin: 0 !important;
        }

        header .header-logo {
            font-size: .9rem;

            span {
                padding: 2px 5px !important;
            }
        }
    }

    footer.site {
        margin-bottom: .3rem;
        margin-top: .5rem;

        div {
            text-align: right;
            font-size: 1rem;
        }
    }
}

#nav-main {
    background-color: $primary;
    font-size: 1.3rem;
    margin-top: .25rem;
    padding-top: 0;
    padding-bottom: 0
}

#content {
    background-color: $white;
    font-size: 1.2rem;
    margin-top: .5rem;
    padding-top: 0.8rem
}

a.link:before {
    content: '\279e\00a0';
}

.h1, .h2, .h3, .h4, .h5 {
    color: $info
}

hr {
    height: 0;
    border: 0;
    border-top: 0.15rem solid $success;
}

.hr-text {
    // --------- with text ---------
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 1;
    &:before {
        content: '';
        // use the linear-gradient for the fading effect
        // use a solid background color for a solid bar
        // background: linear-gradient(to right, transparent, #818078, transparent);
        background: $success;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        padding: 0 .5em;
        line-height: 1.5em;
        color: white;
        // this is really the only tricky part, you need to specify the background color of the container element...
        background-color: $success;
    }
}

fieldset {
    margin: .5rem 0;
    padding: 0 .5rem 1rem .5rem;
    border: .1rem solid $primary;
    background-color: $gray-100;
}

fieldset legend {
    font-size: .9rem;
    color: $white;
    background-color: $primary;
    padding: 0 .5rem;
}

.modal-dialog {
    font-size: 1.2rem
}

.modal-xl {
    max-width: $body-width - 2;
    margin: 2.5rem auto;
}
