@using System.Globalization
@using Axuno.Tools.DateAndTime
@using League.Controllers
@using League.Views
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@inject TimeZoneConverter TimeZoneConverter
@model League.Models.TeamApplicationViewModels.ApplicationSessionModel
@{
    ViewData["Title"] = "Team-Anmeldung" + " - " + Model.TournamentName;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
}
<div class="mb-0 pb-1">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr class="mb-2" />
    <div class="row">
        <div class="col-12">
            <h4 class="h4">Wer kann anmelden</h4>
            <p>
                Berechtigte Mitglieder der Teams können ihr Team sehr einfach für die nächste Saison anmelden.
                Das gilt für alle Teams die jemals an einer Saison teilgenommen haben.
            </p>
            <p>
                Alle registrierten Benutzer können <strong>neue</strong> Mannschaften anmelden.
            </p>
            <h4 class="h4">Erforderliche Angaben</h4>
            <p>
                Folgende Angaben werden abgefragt und sollten daher zur Hand sein:
                <ul>
                    <li>Teamname</li>
                    <li>Names des Vereins (sofern zutreffend)</li>
                    <li>Wochentag und Uhrzeit der Heimspiele</li>
                    <li>Name und genau Anschrift des Spielorts</li>
                </ul>
            </p>
            <h4 class="h4">Spielort</h4>
            <p>
                Damit die Spieltag automatisch und ohne Überschneidungen ermittelt werden können,
                bitte folgendes beachten:
                <ul>
                    <li>Alle Teams, die ein Feld eines Spielort zeitgleich nutzen, müssen diesen auswählen.</li>
                    <li>
                        Wenn an einem Spielort mehrere Felder zur Verfügung stehen, die <strong>zeitgleich</strong> genutzt werden können,
                        soll für jedes Spielfeld ein eigener Spielort angelegt und dem nutzenden Team zuordnet werden.
                    </li>
                </ul>
            </p>
            <h4 class="h4">Teamkontakte</h4>
            <ul>
                <li>
                    Für jedes Team sollen mindestens 2 Teamkontakte festgelegt werden, damit für Abwesenheit oder andere Gründe
                    eine Stellvertretung geregelt ist.
                </li>
                <li>Die Teamkontakte werden den Mitgliedern anderer Teams angezeigt (und nur diesen).</li>
                <li>
                    Zusätzlich zu den Teamkontakten können jedem Team SpielerInnen zugeordnet werden.
                    Die Kontaktdaten der SpielerInnen sind nur den Teamkollegen zugänglich.
                </li>
            </ul>
        </div>
        <div class="col-12">
            <a asp-controller="@nameof(TeamApplication)" asp-action="@nameof(TeamApplication.SelectTeam)" asp-route-tenant="@tenantUrlSegment" class="btn btn-primary mb-2">Mit der Anmeldung beginnen</a>
        </div>
    </div>
</div>
@section styles
{}
@section scripts
{}

