@using Axuno.Tools.DateAndTime
@using League.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject TimeZoneConverter TimeZoneConverter
@inject ITenantContext TenantContext
@model League.Models.TeamApplicationViewModels.ApplicationSessionModel
@{
    ViewData["Title"] = "Team-Registration" + " - " + Model.TournamentName;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
}
<div class="mb-0 pb-1">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr class="mb-2" />
    <div class="row">
        <div class="col-12">
            <h4 class="h4">Who can register</h4>
            <p>
                Eligible team members can easily register their team for the next season.
                This applies to all teams that have ever participated in a season.
            </p>
            <p>
                All registered users can register <strong>new</strong> teams.
            </p>
            <h4 class="h4">Required data</h4>
            <p>
                The following information is requested and should therefore be at hand:
                <ul>
                    <li>Team name</li>
                    <li>Name of the club or association (if applicable)</li>
                    <li>Day of the week and time of home matches</li>
                    <li>Name and exact address of the venue</li>
                </ul>
            </p>
            <h4 class="h4">Venue</h4>
            <p>
                To ensure that the match day can be determined automatically and without overlap, please note the following:
                <ul>
                    <li>All teams using one field of a venue at the same time must select that venue.</li>
                    <li>
                        If several fields are available at a venue that can be used simultaneously,
                        a separate venue should be created for each field, and assigned to the using team.
                    </li>
                </ul>
            </p>
            <h4 class="h4">Team contacts</h4>
            <ul>
                <li>
                    At least 2 team contacts should be defined for each team,
                    so that a substitute is arranged for absence or other reasons.
                </li>
                <li>The team contacts are displayed to members of other teams (and only to them).</li>
                <li>
                    In addition to the team contacts, players can be assigned to each team.
                    The contact details of the players are only accessible to team members.
                </li>
            </ul>
        </div>
        <div class="col-12">
            <a asp-controller="@nameof(TeamApplication)" asp-action="@nameof(TeamApplication.SelectTeam)" asp-route-tenant="@tenantUrlSegment" class="btn btn-primary mb-2">Start the registration</a>
        </div>
    </div>
</div>
@section styles
{}
@section scripts
{}
