<MailMergeLibSettings>
  <Sender>
    <MaxNumOfSmtpClients>5</MaxNumOfSmtpClients>
    <SmtpClients>
      <SmtpClientConfig Name="Standard">
        <SmtpHost>nohost</SmtpHost>
        <SmtpPort>25</SmtpPort>
        <ClientDomain></ClientDomain>
        <LocalEndPoint />
        <NetworkCredential />
        <MailOutputDirectory>C:\Temp\Mail</MailOutputDirectory>
        <MessageOutput>Directory</MessageOutput>
        <SslProtocols>None</SslProtocols>
        <SecureSocketOptions>None</SecureSocketOptions>
        <Timeout>5000</Timeout>
        <DelayBetweenMessages>100</DelayBetweenMessages>
        <MaxFailures>3</MaxFailures>
        <RetryDelayTime>500</RetryDelayTime>
      </SmtpClientConfig>
    </SmtpClients>
  </Sender>
  <Message>
    <TextTransferEncoding>SevenBit</TextTransferEncoding>
    <BinaryTransferEncoding>Base64</BinaryTransferEncoding>
    <CharacterEncoding>utf-8</CharacterEncoding>
    <CultureInfo>de-DE</CultureInfo>
    <FileBaseDirectory></FileBaseDirectory>
    <IgnoreIllegalRecipientAddresses>False</IgnoreIllegalRecipientAddresses>
    <IgnoreMissingInlineAttachments>True</IgnoreMissingInlineAttachments>
    <IgnoreMissingFileAttachments>True</IgnoreMissingFileAttachments>
    <Priority>Normal</Priority>
    <StandardFromAddress></StandardFromAddress>
    <Organization>axuno gGmbH</Organization>
    <Xmailer>MailMergeLib</Xmailer>
    <SmartFormatterConfig>
      <ParseErrorAction>ThrowError</ParseErrorAction>
      <FormatErrorAction>ThrowError</FormatErrorAction>
      <CaseSensitivity>CaseSensitive</CaseSensitivity>
      <ConvertCharacterStringLiterals>True</ConvertCharacterStringLiterals>
    </SmartFormatterConfig>
  </Message>
</MailMergeLibSettings>