@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Password Reset Code"].Value;
}
<h2 class="h2">@ViewData["Title"]</h2>
<hr/>
<div>
    <site-alert type="Success">
        <ul class="mb-0 pl-4">
            <li>
                @Localizer["The email with the code to reset the password has been sent, if the email address or username is connected to your account"].
            </li>
            <li>
                @Localizer["Please check your primary email inbox and follow the instructions to reset your password"].
            </li>
        </ul>
    </site-alert>
</div>
