@using League.Helpers
@using TournamentManager.MultiTenancy
@inject ITenantContext TenantContext
@{
    ViewData.Title(TenantContext.OrganizationContext.Name);
    ViewData.Description(TenantContext.OrganizationContext.Description);
}
<div class="mb-0 pb-1">
    <h2 class="h2">@(TenantContext.OrganizationContext.ShortName) Index</h2>
    Content goes here...
</div>