<?xml version="1.0" encoding="utf-8"?>
<!-- Content will be deserialized to class DbContextList -->
<DbContextList>
  <DbContext>
    <OrganizationKey>augsburg</OrganizationKey>
    <ConnectionKey>leagueConnectionString</ConnectionKey>
    <Catalog>LeagueA</Catalog>
    <Schema>dbo</Schema>
	<ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
  <DbContext>
    <OrganizationKey>a-beach</OrganizationKey>
    <ConnectionKey>leagueConnectionString</ConnectionKey>
    <Catalog>LeagueA</Catalog>
    <Schema>abeach</Schema>
	<ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
  <DbContext>
    <!-- Empty default key, used when no organization key is present -->
    <OrganizationKey></OrganizationKey>
    <ConnectionKey>leagueConnectionString</ConnectionKey>
    <Catalog>LeagueA</Catalog>
    <Schema>dbo</Schema>
	<ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
</DbContextList>
