<?xml version="1.0" encoding="utf-8"?>
<!-- Content will be deserialized to class DbContextList -->
<DbContextList>
  <DbContext>
    <OrganizationKey>testorg</OrganizationKey>
    <ConnectionKey>TestOrgConnectionString</ConnectionKey>
    <Catalog>TestOrg</Catalog>
    <Schema>dbo</Schema>
	<ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
  <DbContext>
    <OrganizationKey>otherorg</OrganizationKey>
    <ConnectionKey>OtherOrgConnectionString</ConnectionKey>
    <Catalog>OtherOrg</Catalog>
    <Schema>dbo</Schema>
	<ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
  <DbContext>
    <OrganizationKey>a-indoor</OrganizationKey>
    <ConnectionKey>AIndoorConnectionString</ConnectionKey>
    <Catalog>a-indoor</Catalog>
    <Schema>dbo</Schema>
    <ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
  <DbContext>
    <OrganizationKey>a-beach</OrganizationKey>
    <ConnectionKey>ABeachConnectionString</ConnectionKey>
    <Catalog>a-beach</Catalog>
    <Schema>dbo</Schema>
    <ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
  <DbContext>
    <!-- Empty default key, used when no organization key is present -->
    <OrganizationKey></OrganizationKey>
    <ConnectionKey>TestOrgConnectionString</ConnectionKey>
    <Catalog>TestOrg</Catalog>
    <Schema>dbo</Schema>
	<ConnetionTimeOut>15</ConnetionTimeOut>
  </DbContext>
</DbContextList>