<?xml version="1.0" encoding="utf-8"?>
<!-- English nodes text can be localized with League.Navigation.NavigationResource.resx -->
<NavNode key="RootNode">
    <Children>
        <NavNode key="ABeachMenu" url="/a-beach" text="" iconCssClass="fas fa-1x fa-home"  preservedRouteParameters="organization">
        </NavNode>
        <NavNode treeBuilderName="League.Navigation.LeaguesNavigationTreeBuilder" treeBuilderAppendToBuilderNode="false">
        </NavNode>
        <NavNode treeBuilderName="League.Navigation.InfosNavigationTreeBuilder" treeBuilderAppendToBuilderNode="false">
        </NavNode>
        <NavNode key="TeamsInfos" controller="team" action="Index" text="Teams" preservedRouteParameters="organization">
            <Children>
                <NavNode key="MyTeam" controller="team" action="myteam" text="My team" authorizationPolicy="MyTeamPolicy" preservedRouteParameters="organization">
                  <Children />
                </NavNode>
                <NavNode key="Application" controller="TeamApplication" action="index" text="Register team for next season" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
                <NavNode key="Managers" controller="team" action="list" text="Contact teams" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
                <NavNode key="Map" controller="map" action="index" text="Geographical spread" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
        <NavNode key="MatchOverview" controller="match" action="index" text="Matches" preservedRouteParameters="organization">
            <Children>
                <NavNode key="MatchFixtures" controller="match" action="fixtures" text="Fixtures" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
                <NavNode key="MatchResults" controller="match" action="results" text="Match results" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
      <NavNode key="RankingTables" controller="ranking" action="index" text="Tables" preservedRouteParameters="organization">
        <Children>
          <NavNode key="RankingTable" controller="ranking" action="table" text="Current season" preservedRouteParameters="organization">
            <Children />
          </NavNode>
          <NavNode key="AllTimeTournamentTable" controller="ranking" action="AllTimeTournament" text="All-time tables" preservedRouteParameters="organization">
            <Children />
          </NavNode>
        </Children>
      </NavNode>
        <!-- Nodes after the key "RightAlignSeparator" are aligned to the right margin of the navigation bar -->
        <NavNode key="RightAlignSeparator"></NavNode>
        <NavNode key="Account"
                 controller="Manage"
                 action="Index"
                 text=""
                 iconCssClass="fas fa-1x fa-user-check"
                 cssClass="dropdown-menu-right"
                 hideFromAnonymous="true"
                 preservedRouteParameters="organization"
        >
            <Children>
                <NavNode key="AccountManage" controller="Manage" action="Index" text="Manage account" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
                <NavNode key="AccountReSignIn" controller="Account" action="SignIn" text="Sign in with other account" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
                <NavNode key="AccountSignOut" controller="Account" action="SignOut" text="Sign out" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
        <NavNode key="AccountMenu"
                 controller="Account"
                 action="SignIn"
                 hideFromAuthenticated="true"
                 text=""
                 iconCssClass="fas fa-user-plus"
                 cssClass="dropdown-menu-right"
                 preservedRouteParameters="organization"
        >
            <Children>
                <NavNode key="AccountSignIn" controller="Account" action="SignIn" text="Sign in" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
                <NavNode key="AccountCreate" controller="Account" action="CreateAccount" text="Create account" preservedRouteParameters="organization">
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
    </Children>
</NavNode>
