<?xml version="1.0" encoding="utf-8"?>
<!-- Content will be deserialized to class OrganizationSiteList -->
<OrganizationSiteList>
    <Organization>
        <!-- HostName may only be blank if all HostNames in the OrganizationSiteList are blank -->
        <HostName></HostName>
        <!-- The value of the URL segment used to identify the organization -->
        <UrlSegmentValue>testorg</UrlSegmentValue>
        <!-- FolderName must always be present -->
        <FolderName>testorg</FolderName>
        <OrganizationKey>testorg</OrganizationKey>
        <IdentityCookieName>.LeagueTest</IdentityCookieName>
        <SessionName>.LeagueTest</SessionName>
        <HideInMenu>false</HideInMenu>
    </Organization>
    <Organization>
      <!-- HostName may only be blank if all HostNames in the OrganizationSiteList are blank -->
        <HostName></HostName>
        <!-- The value of the URL segment used to identify the organization -->
        <UrlSegmentValue>otherorg</UrlSegmentValue>
        <!-- FolderName must always be present -->
        <FolderName>otherorg</FolderName>
        <OrganizationKey>otherorg</OrganizationKey>
        <IdentityCookieName>.LeagueOther</IdentityCookieName>
        <SessionName>.LeagueOther</SessionName>
        <HideInMenu>false</HideInMenu>
    </Organization>
    <Organization>
      <!-- HostName may only be blank if all HostNames in the OrganizationSiteList are blank -->
      <HostName></HostName>
      <!-- The value of the URL segment used to identify the organization -->
      <UrlSegmentValue>augsburg</UrlSegmentValue>
      <!-- FolderName must always be present -->
      <FolderName>a-indoor</FolderName>
      <OrganizationKey>a-indoor</OrganizationKey>
      <IdentityCookieName>.LeagueAugsburg</IdentityCookieName>
      <SessionName>.LeagueAugsburg</SessionName>
      <HideInMenu>false</HideInMenu>
    </Organization>
    <Organization>
      <!-- HostName may only be blank if all HostNames in the OrganizationSiteList are blank -->
      <HostName></HostName>
      <!-- The value of the URL segment used to identify the organization -->
      <UrlSegmentValue>a-beach</UrlSegmentValue>
      <!-- FolderName must always be present -->
      <FolderName>a-beach</FolderName>
      <OrganizationKey>a-beach</OrganizationKey>
      <IdentityCookieName>.LeagueABeach</IdentityCookieName>
      <SessionName>.LeagueABeach</SessionName>
      <HideInMenu>false</HideInMenu>
    </Organization>
    <Organization>
        <!-- Default definitions -->
        <!-- HostName may only be blank if all HostNames in the OrganizationSiteList are blank -->
        <HostName></HostName>
        <!-- The value of the URL segment used to identify the organization; blank for default -->
        <UrlSegmentValue/>
        <!-- FolderName is blank for the default definition -->
        <FolderName></FolderName>
        <!-- Empty default key, used when no organization key is present -->
        <OrganizationKey></OrganizationKey>
        <IdentityCookieName>.League</IdentityCookieName>
        <SessionName>.League</SessionName>
        <HideInMenu>true</HideInMenu>
    </Organization>
</OrganizationSiteList>