<?xml version="1.0" encoding="utf-8" ?>
<TenantContext>
    <Identifier>TestOrg</Identifier>
    <Guid>BF2E2412-C610-4521-AE12-7BDA286E4480</Guid>
    <IsDefault>false</IsDefault>
        <SiteContext>
        <!-- HostName may only be blank, if UrlSegmentValue is set -->
        <HostName></HostName>
        <!-- The value of the URL segment used to identify the organization. May be blank if HostName is set. -->
        <UrlSegmentValue>testorg</UrlSegmentValue>
        <!-- FolderName must always be present -->
        <FolderName>testorg</FolderName>
        <IdentityCookieName>.LeagueTest</IdentityCookieName>
        <SessionName>.LeagueTest</SessionName>
        <HideInMenu>false</HideInMenu>
        <Photos>
            <TeamPhotoFolder>teamphoto</TeamPhotoFolder>
            <PeoplePhotoFolder>personphoto</PeoplePhotoFolder>
        </Photos>

        <Email>
            <ContactFrom>
                <DisplayName>Testorganization Augsburg</DisplayName>
                <Address>testorg@volleyball-liga.de</Address>
            </ContactFrom>
            <ContactTo>
                <DisplayName>Testorganization Augsburg</DisplayName>
                <Address>testorg@volleyball-liga.de</Address>
            </ContactTo>
            <GeneralFrom>
                <DisplayName>Testorganization Augsburg</DisplayName>
                <Address>testorg@volleyball-liga.de</Address>
            </GeneralFrom>
            <GeneralTo>
                <DisplayName>Testorganization Augsburg</DisplayName>
                <Address>testorg@volleyball-liga.de</Address>
            </GeneralTo>
            <GeneralBcc>
                <DisplayName>Testorganization Augsburg</DisplayName>
                <Address>testorg@volleyball-liga.de</Address>
            </GeneralBcc>
        </Email>
    </SiteContext>
    <DbContext>
        <ConnectionKey>TestOrgConnectionString</ConnectionKey>
        <Catalog>TestOrg</Catalog>
        <Schema>dbo</Schema>
        <CommandTimeOut>15</CommandTimeOut>
    </DbContext>
    <OrganizationContext>
        <Name>Volleyball Test League</Name>
        <ShortName>Test League</ShortName>
        <Description>Liga für Testzwecke</Description>
        <HomepageUrl>https://volleyball-liga.de/testorg</HomepageUrl>
        <Bank>
            <ShowBankDetailsInConfirmationEmail>true</ShowBankDetailsInConfirmationEmail>
            <Recipient>axuno gemeinnuetzige GmbH - Testorganization Augsburg</Recipient>
            <BankName>Fidor Bank AG</BankName>
            <Bic>FDDODEMMXXX</Bic>
            <Iban>DE61 700 222 000 020 137 800</Iban>
            <Amount>19.00</Amount>
            <Currency>EUR</Currency>
        </Bank>
    </OrganizationContext>
    <TournamentContext>
        <ApplicationTournamentId>3</ApplicationTournamentId>
        <ApplicationAllowed>true</ApplicationAllowed>
        <ApplicationDeadline>2020-05-04T00:00:00</ApplicationDeadline>
        <MapTournamentId>2</MapTournamentId>
        <!-- if a team is registered for ApplicationTournamentId this is used for editing the team -->
        <TeamTournamentId>2</TeamTournamentId>
        <MatchPlanTournamentId>2</MatchPlanTournamentId>
        <MatchResultTournamentId>2</MatchResultTournamentId>
        <FixtureRuleSet>
            <RegularMatchStartTime>
                <MinDayTime>18:00:00</MinDayTime>
                <MaxDayTime>21:00:00</MaxDayTime>
            </RegularMatchStartTime>
            <PlannedDurationOfMatch>00:02:00:00</PlannedDurationOfMatch>
            <PlannedMatchDateTimeMustBeSet>true</PlannedMatchDateTimeMustBeSet>
            <CheckForExcludedMatchDateTime>true</CheckForExcludedMatchDateTime>
            <PlannedVenueMustBeSet>true</PlannedVenueMustBeSet>
            <PlannedMatchTimeMustStayInCurrentLegBoundaries>false</PlannedMatchTimeMustStayInCurrentLegBoundaries>
            <UseOnlyDatePartForTeamFreeBusyTimes>true</UseOnlyDatePartForTeamFreeBusyTimes>
        </FixtureRuleSet>
        <!-- max. number of days or a negative value (-1) for 'unlimited' -->
        <MaxDaysForResultCorrection>-1</MaxDaysForResultCorrection>
        <TeamRuleSet>
            <HomeMatchTime>
                <IsEditable>True</IsEditable>
                <MustBeSet>True</MustBeSet>
                <DaysOfWeekRange>
                    <DayOfWeek>Monday</DayOfWeek>
                    <DayOfWeek>Tuesday</DayOfWeek>
                    <DayOfWeek>Wednesday</DayOfWeek>
                    <DayOfWeek>Thursday</DayOfWeek>
                    <DayOfWeek>Friday</DayOfWeek>
                    <DayOfWeek>Saturday</DayOfWeek>
                    <DayOfWeek>Sunday</DayOfWeek>
                </DaysOfWeekRange>
                <ErrorIfNotInDaysOfWeekRange>False</ErrorIfNotInDaysOfWeekRange>
            </HomeMatchTime>
        </TeamRuleSet>
    </TournamentContext>
</TenantContext>